


<!-- Remove the container if you want to extend the Footer to full width. -->


<div class="container-fluid bg-footer" >
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0" style="background-color: black;">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-3" style="
      /* vertical-align: middle; */
      height: 100%;
  ">
            <img class="logo-index" src="/images/logo-w.png" alt="logo" style="width:180px;/*margin-top:60px*/">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          
          
          <div class="col-md-3" >
            <h5 class="text-uppercase" >About Sportshoes</h5>
           
            <ul class="list-unstyled mb-0 footer-none"  >
              <li>
                <a href="/aboutus" class="text-white">About Us</a>
              </li>
              <li>
                <a href="/map" class="text-white">Map</a>
              </li>
              <li>
                <a href="/privacy" class="text-white">Privacity Statement</a>
              </li>
              <li>
                <a href="/terms" class="text-white">Terms and conditions</a>
              </li>
            </ul>
          
          </div>
          <!--Grid column-->

          <!--Grid column-->


          

          <div class="col-md-3">
            <h5 class="text-uppercase" >Contact Us</h5>

            <ul class="list-unstyled mb-0 footer-none" >
              <li>
                <a href="/contactus" class="text-white">Contact us </a>
              </li>
              <li>
                <a href="/shippinginfo" class="text-white">Shipping info</a>
              </li>
              <li>
                <a href="/covidinfo" class="text-white">COVID-19 Information</a>
              </li>
              <li>
                <a href="/help" class="text-white">Help</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3">
            <h5 class="text-uppercase" >Payment method</h5>

            <ul class="list-unstyled mb-0 footer-none">
              <li>
                <a   target="_blank"
                href="https://www.mercadopago.com.ar/" class="text-white">Mercado Pago</a>
              </li>
              <li>
                 <a target="_blank" 
                href="#" class="text-white">Credit/Debit Card</a>
              </li>
              <li>
                <a target="_blank"
                href="https://www.paypal.com/ar/home" class="text-white">Paypal</a>
              </li>
              <li>
                 <a target="_blank" 
                href="https://www.binance.com/en" class="text-white">Binance</a>
              </li>
            </ul>
          </div>
      </div>
          <!--Grid column-->

          <!--Grid column-->
          
          <!--Grid column-->
        
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4"/>

      <!-- Section: CTA -->
    

      <!-- Section: Social media -->
      <section class="mb-4 text-center ">
        <!-- Facebook -->
        <a target="_blank"
           class="btn btn-outline-light btn-floating m-2"
           href="https://www.facebook.com/"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>
     
        <!-- Twitter -->
        <a target="_blank"
           class="btn btn-outline-light btn-floating m-2"
           href="https://twitter.com/"
           role="button"
           ><i class="fab fa-twitter"></i
          ></a>

        <!-- Youtube -->
        <a target="_blank"
           class="btn btn-outline-light btn-floating m-2"
           href="https://www.youtube.com/"
           role="button"
           ><i class="fab fa-youtube"></i
          ></a>

        <!-- Instagram -->
        <a  target="_blank"
           class="btn btn-outline-light btn-floating m-2"
           href="https://www.instagram.com/"
           role="button"
           ><i class="fab fa-instagram"></i
          ></a>

       <!-- Github -->
        <a target="_blank" 
           class="btn btn-outline-light btn-floating m-1"
           href="https://github.com/Josemiranda989/Grupo_1_SportShoes"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </section>
      <div
      class="text-center p-1"
      style="background-color:black"
      >
  <p>© 2021 Sportshoes.com, Inc. All Rights Reserved </p>
     </div>
    </div>
  </div>
    <!-- Grid container -->

    <!-- Copyright -->
   
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>

<!-- End of .container -->