<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Covid info "}) %>

  <body class="privacy">
    <%- include('../partials/header') %>
    <div class="caja-privacy ">
      <h2>Privacy Statement Updated April 2021</h2>
      <p>
        Thank you for visiting our Website or using our App or other Services.
        This Privacy Statement outlines the information we collect, how we may
        use and disclose it, and what your options are with respect to our
        practices.
      </p>
      <p>
        If you have any questions, please contact us at
        privacyteam@sprotshoes.com Privacy Statement Sport shoes, Inc., its
        subsidiaries, or its affiliates (referred to as Sport shoes, Lady Sport
        shoes, Kids Sport shoes, Footaction, tucuman Sports, Mercadolibre,
        Greenhouse, FLX, "we," "us," or "our" herein) believes in protecting
        your information. With this in mind, we have adopted this 
        Privacy Statement, which describes the information we may collect when you visit
        our websites (each a "Site"), sign up for a brand loyalty membership
        (each a "Membership Program"), use our mobile applications (each an
        "App") shop in our stores (each a "Store") and use and/or participate in
        social media sites, 
        digital advertising and emails (collectively the "Services").
         By using the Services, you agree to the collection, use, and disclosure
        of your personal information as described in this Privacy Statement. If
        you do not, please do not use the Services.: 
      
        Notice of Collection of Personal Information: We list the categories of personal information
        that we collect below under Categories of Personal Information Collected. 
        We collect personal information about you for business and  commercial 
        purposes as described below under “Information Use.”
      
      </p>
      
 <h6> Information Collection</h6>

 <p>
     Information You Provide to Us. We only collect certain information from you when you provide it to us, such as when you: 
     (1) register/create an account; 
     (2) purchase one of our products or services or redeem FLX Membership Points ;
     (3) complete a survey or product review; 
     (4) participate in one of our promotions, contests, or sweepstakes; 
     (5) sign up for a Membership Program, newsletter or other communication; or 
     (6) contact us. The information we collect from you may include your name, date of birth, gender, mailing address or zip code, daytime telephone number, cell phone number, e-mail address, account user-name and password, and payment information. 
         If you use a third-party login (such as a social network) to register or otherwise link to us, we may receive certain information about you from the third party based on your registration and privacy settings on that third-party service.
         Registration/Create an Account.We encourage you to register/create an account when shopping on our Site or App; however, registration is not required. Our Registration Form may require users to provide contact information (such as name, /date of birth, zip code, mailing address, daytime telephone number,
        cell phone number, e-mail address, and password). You must be 13 years of age or older to register. Registration helps us to provide you with a quick and simple checkout experience. The customer contact information you provide will be used to contact you concerning the status of an order, answer your questions and,
        unless you choose to opt-out, to send you communications about upcoming sales, contests, promotions and product information. You acknowledge and agree that you are responsible for maintaining the confidentiality of your registration information and password. You are responsible for all use of the Site or App under your registered account.
   If you would like, you can also fill out a customer profile. While it is not required, information obtained from your registration and the customer profile 
helps us to learn more about our customers and is used to improve your shopping experience and to provide you with more relevant content and advertising.
      </p>
      <p>
        <br />
        <h6 style="margin-bottom: 20px;">Privacy Statement addresses:</h6> 
      </p>
      <tbody>
        <tr>
          <td width="300">
            <span><a href="#InformationCollection">Information Collection</a></span>
          </td>
          <td width="335">
            <span style="margin-left: 10px;">
              <a href="#OptionToOptOutfromMarketingCommunication"
                >Marketing Communications</a
              >
            </span>
          </td>
        </tr>

        <tr>
          <td>
            <span style="margin-left: 10px;">
              <a href="#UpdatingYourInformation">Updating Your Information</a>
            </span>
          </td>
          <td>
            <span style="margin-left: 10px;"><a href="#QuestionsContactingUs">Questions/Contacting Us</a></span>
          </td>
        </tr>
        <tr>
          <td>
            <span style="margin-left: 10px;">
              <a href="#ChangesToOurPrivacyStatement"
                >Changes to our Privacy Statement</a
              >
            </span>
          </td>
        </tr>
      </tbody>
    </div>

    <%- include('../partials/footer') %>

    <!-- SCRIPTS -->
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
</html>
