<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Sport Shoes"}) %>


<body class="body-index">
    <%- include('./partials/header') %>


        <main class="main-index">
        <section class="section1-index">
                
                    <h2 class="titulo1-index">Best Sneakers Shoes Online Store</h2>
                    <button class="call-index"> Catalog > </button>
                
                
        </section>
         <section class="section2-index">
                
                    <h2 class="titulo2-index">Most Wanted</h2>
                    <button class="call-index"> <a href="/productDetail/Adidas-Ultraboost" > click here > </a> </button>
                    
            </section>   
                
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

