

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f4b983a33e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Home </title>
</head>
<body class="body-index">

    <header>
    
        <nav class="nav-index">
            <section class="nav-logo-ingreso-index">
                <img class="logo-index" src="images/Sportshoes.png" alt="logo">
    
    
                </ul>
                <ul class="ingreso-index">
                    <li><a href="/Sign in">Sign in</a></li>
                    <li><a href="/Sign up">Sign up</a></li>
                </ul>
    
    
            </section>
            
            <section class="search-menu-index"> 
                
                <ul class="menu-index">
                    <li class="item-index"><a href="#">HOME</a></li>
                    <li class="item-index"><a href="#">MEN'S</a></li>
                    <li class="item-index"><a href="#">WOMEN'S</a></li>
                    <li class="item-index"><a href="#">BRANDS</a></li>
                    <li class="item-index"><a href="#">SALE</a></li>
        
                </ul>
                <div>
                    <div class="search-box-index">
                        <input class="search-text" type="text" name="" placeholder="Search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
            
                    <div>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
        </section>
        </nav>
    
    
    
 
 
    </header>

    <main class="main-index">
        <section class="section1-index">
                <div class="section-left-index">
                    <p>texto </p>
                    <button>call to action</button>
                </div>
                
        </section>
         <section class="section2-index">
                <div class="section-left-index">
                    <p>texto </p>
                    <button>call to action</button>
                </div>
                
    </main>
 
<footer>

    
</footer>


</body>
</html>

