<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Home </title>
</head>
<body>
<header>


<nav>
<article>

</article>

</nav>


</header>
    
</body>
</html>


<p> Logo 
    nav (  ) 
    caja dividida en 2, ( imagen a la izquierda, a la derecha Boton y tecto)
    
    (pendiente agregar caja ofertas)
    
    caja dividida en 2, ( lo mas buscado , la imagen a la derecha) 

   <footer> con informacion 
</p>
