<%- include('./partials/head', {title: "Sport Shoes"}) %>


<body class="body-index">

    <header class="header-index">
    
        <nav class="nav-index">
            <section class="nav-ingreso-index">
                <img class="logo-index" src="/images/original.jpeg" alt="logo">

                <ul class="ingreso-index">
                    <li><a class="signin-index" href="/login">Sign in</a></li>
                    <li><a class="signup-index"  href="/register">Sign up</a></li>
                    
                </ul>
    
                
            </section>
           
            <section class="search-menu-index"> 
                    
         
                <ul class="menu-index">
                        <li class="item-index"><a href="#">HOME</a></li>
                        <li class="item-index"><a href="#">MEN'S</a></li>
                        <li class="item-index"><a href="#">WOMEN'S</a></li>
                        <li class="item-index"><a href="#">BRANDS</a></li>
                        <li class="item-index"><a href="#">SALE</a></li>
            
                    </ul>
                <div>
                    <div class="search-box-index" >
                        <div class="lupa-index">
                            
                            <input class="search-text" type="text" name="" placeholder="Search"></input> 
                            
                            <button type="button" class="button-search">
                                <i class="fa fa-search lupa"></i>
                            </button>
                        </div>
                        <i class="far fa-heart   corazon" ></i>
                        <i class="fas fa-shopping-cart  carrito"></i>
                    </div>    
                </div>
        </section>  
        </nav>
    
    </header>

        <main class="main-index">
        <section class="section1-index">
                
                    <h2 class="titulo1-index">Best Sneakers Shoes Online Store</h2>
                    <button class="call-index"> Catalog > </button>
                
                
        </section>
         <section class="section2-index">
                
                    <h2 class="titulo2-index">Most Wanted</h2>
                    <button class="call-index"> <a href="/productDetail/Adidas-Ultraboost" > click here > </a> </button>
                    
            </section>   
                
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

