

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f4b983a33e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Sport Shoes </title>
</head>
<body class="body-index">

    <header class="header-index">
    
        <nav class="nav-index">
            <section class="nav-ingreso-index">
                <img class="logo-index" src="/images/original.jpeg" alt="logo">

                <ul class="ingreso-index">
                    <li><a class="signin-index" href="/login">Sign in</a></li>
                    <li><a class="signup-index"  href="/register">Sign up</a></li>
                    
                </ul>
    
                
            </section>
           
            <section class="search-menu-index"> 
                    <ul class="menu-index">
                        <li class="item-index"><a href="#">HOME</a></li>
                        <li class="item-index"><a href="#">MEN'S</a></li>
                        <li class="item-index"><a href="#">WOMEN'S</a></li>
                        <li class="item-index"><a href="#">BRANDS</a></li>
                        <li class="item-index"><a href="#">SALE</a></li>
            
                    </ul>
                <div>
                    <div class="search-box-index" >
                        <input class="search-text" type="text" name="" placeholder="Search"></inpu> 
                        <i class="fa fa-search"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                </div>
                    
                </div>
        </section>  
        </nav>
    
    </header>

        <main class="main-index">
        <section class="section1-index">
                
                    <h2 class="titulo1-index">Best Sneakers Shoes Online Store</h2>
                    <button class="call-index"> Catalog > </button>
                
                
        </section>
         <section class="section2-index">
                
                    <h2 class="titulo2-index">Most Wanted</h2>
                    <button class="call-index"> <a href="/productDetail" > click here > </a> </button>
                    
            </section>   
                
    </main>
 
    <footer class="footer-index">
        <div class="about-us-index">
            <h2 class="titulos-footer">About Sportshoes</h2>
            <ul class="lista1-footer">
                <li>About Us</li>
                <li>Carreer Opportunities</li>
                <li>Sitemap</li>
                <li>Privacity Statement</li>
                <li>Terms and conditions</li>
            </ul>
        </div>
        <div class="espacio-footer"></div>
        <div class="contact-us-index">
            <h2 class="titulos-footer">Contact Us</h2>
            <ul class="lista1-footer">
                <li>Ordering Help</li>
                <li> Shipping info</li>
                <li>COVID-19 Information</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="espacio-footer"></div>
        <div class="lista1-footer"></div>
        <div class="social-index">
            <h2 class="titulos-footer">Social</h2>
            <ul class="lista1-footer">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
        <div class="espacio-footer"></div>
        <div class="payment-index">
            <h2 class="titulos-footer">Payment method</h2>
            <ul class="lista1-footer">
                <li>Mercado Pago</li>
                <li>Visa</li>
                <li>Mastercard</li>
                <li>Paypal</li>
                <li>Binance</li>
            </ul>
        </div>
       
        <div class="final-footer">
        <img class="logo-index" src="/images/original.jpeg" alt="logo">
         <p>© 2021 Sportshoes.com, Inc. All Rights Reserved </p>
        </div>
      
    

    </footer>



</body>
</html>

