<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <title> Sportshoes </title>
<body class="body-detail">
   <section class= "section-detail" >
         <h1 class="titulo-detail">Adidas Ultraboost DNA </h1>
    <div >
        
        <img class="imagen-detail" src="images/shoes-img/Adidas-Ultraboost/1.png" alt="producto para agregar">
        
    </div>
    
    <form action="/" method="POST">
           
            
            <div class = "texto-detail">
                 
                <div>       
                    <label>Select Color</label>                       =             
                    <select name="color">
                <option value="black">Black</option>
                <option value="white">White </option>
                <option value="red">Red </option>
                <option value="blue">Blue </option>
                    </select>

                </div>
                <div>  $180.00 </div> 
                <div>       
                    <label>Select a Size</label>                                    
                    <select name="size">
                <option value="8.0">8.0 </option>
                <option value="8.5">8.5 </option>
                <option value="9.0">9.0 </option>
                <option value="10.0">10.0 </option>
                    </select>

                </div>

            </div>
            <button class="addcart-detail" type="submit">ADD CART</button>
            
            
        </form>   

   </section>


</body>
</html>