<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/productCart.css">
    <title> Sportshoes </title>
</head>

<body>
    <form action="/" method="POST">
        <label>Adidas Ultraboost DNA</label>
        <div class="imagen-detail"><img src="images/zapatilla1.png" alt="producto para agregar"></div>
        <p>
            <div> adidas Ultraboost DNA - White/Blue - 
                SIZE	12.5 Men's</div>

            <div> QTY	1         </div>

            <div> PRICE   $180.00 </div> 

            <div>  Excluded from discount   </div>

        </P>
        
        <input type="reset" value="Remove"> 
        <input type="reset" value="Reset"> 
        <button type="submit">Save for later</button>

    <form action="/" method="POST">
        <label>Adidas Ultraboost DNA</label>
        <div class="imagen-detail"><img src="images/shoes-img/Newbalance-Wni/1.png" alt="producto para agregar"></div>
            <p>
                <div> adidas Ultraboost DNA - White/Blue - 
                    SIZE	12.5 Men's</div>
    
                <div> QTY	1         </div>
    
                <div> PRICE   $180.00 </div> 
    
                <div>  Excluded from discount   </div>
    
            </P>
            
            <input type="reset" value="Remove"> 
            <input type="reset" value="Reset"> 
            <button type="submit">Save for later</button>
    


	
<body>
    
</body>
</html>