<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title> Sportshoes </title>
</head>

<body class="body-register">
    <header>
    </header>
    <main>
        <div class="box-register">
            <a href="http://localhost:3000/"><img class="logo-register" src="./images/Sportshoes.png" alt="LogoSportShoes"></a>
            <h1 class="text-register">Register</h1>

            <form class="form-register" action="/" method="GET">
                <p><label for="nombreApellido" placeholder="ej: Elon Musk">Enter your name:</label>
                    <input type="text" placeholder="ej: Elon Musk" name="nombreApellido" id="nombreApellido">
                </p><br>
                <p><label for="usuario">Enter your Username:</label>
                    <input type="text" placeholder="ej: DogeFather" name="usuario" id="usuario">
                </p><br>
                <p><label for="fechaDeNacimiento">Enter your date of birth:</label>
                    <input type="date" name="fechaDeNacimiento" value="1971-06-28">
                </p><br>
                <p><label for="domicilio">Enter your address:</label>
                    <input type="text" placeholder="ej: Bel-Air" name="domicilio" id="domicilio">
                </p><br>
                <br>
                <hr>
                <div class="intereses-register">
                    <label for="interes">
                        <h3>Categories of interest</h3>
                    </label><br>
                    <label><input type="checkbox" name="interes" value="Electro">Running shoes</label><br>
                    <label><input type="checkbox" name="interes" value="Moda">Golf shoes</label><br>
                    <label><input type="checkbox" name="interes" value="Hogar">Soccer shoes</label><br>
                    <label><input type="checkbox" name="interes" value="Juguetería">Basketball shoes</label><br>
                    <label><input type="checkbox" name="interes" value="pescar">Trainers</label><br>
                </div>
                <hr><br>
                <p><label for="password">Enter a password:</label>
                    <input type="password" placeholder="Password" name="password" id="password">
                </p>
                <br>
                <p><label for="password">Confirm the Password:</label>
                    <input type="password" name="password2" placeholder="Password" id="password2">
                </p>
                <br>
                <label for="terms"><a class="link-register" href="/terms">Terms and conditions:</a></label><br>
                <br><p><label for="terms">Accept all conditions</label>
                    <input type="checkbox" name="terms">
                </p>
                <br>
                <input type="submit" class="submit-login" value="Enviar">
                <input type="submit" class="submit-login" value="Reset">
            </form>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>