

*{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
}



:root {
    --verdeOscuro: #053742;
    --celesteOscuro: #39A2DB;
    --celesteClaro: #A2DBFA;
    --grisClaro: #E8F0F2;
    --grisOscuro: ##5e5e5e;
   --blanco: #ffffff;

}

.body-index{
    font-family:'roboto',sans-serif ;
    background: url(/images/background.jpg) fixed;
    background-size:cover;

}

.nav-index{
background-color:rgba(5,55,66,0.8) ;
padding:20px ;
width:100% ;
opacity:0.8 ;
 
}

/* diseno logo y sign up and in gk*/
.nav-logo-ingreso-index{

    display:flex ;
    justify-content:space-between;

}



.logo-index{
    height:100px ;
    width:100px ;
    
}

/*diseno search y menu */

.menu-index li a {

    text-decoration:none ;
    color:white;
    font-weight:bold ;

    
}

.menu-index{
    list-style:none ;
    display:flex ;
    padding:20px;
    justify-content: center;
    width:80%;
   
}

.item-index{
    margin:0 5px;
    font-size:20px;
    
    
}

.search-menu-index{

    display:flex;
    justify-content:space-between ;
    
    }
.menu-index li a:hover{

    color:var(--grisClaro);
}



/*diseno main*/

.main-index{

}

.section1-index{

    background-size:inherit;
    background:url(/images/section1-index.jpg);
    width:98% ;
    height:400px ;
    margin:auto ;
    padding: 0;

}

.section-left-index{

}

.section2-index{
    background-size:contain;
    background:url(/images/section2-index.jpg);
    width:98% ;
    height:400px ;
    margin:auto ;

}





/* Codigo anterior
.search-box{
    position: absolute;
    top: 20px;;
    left:85%;
    transform: translate(-50%,-50%);
}

.menu-index{
   
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    width: 100%;
    }
    
.menu li a{
    font-weight:bold;
    text-decoration:none;
    color:white;
    margin: 0 ;
    padding:20px;
    display:block;
        
     }
    

header{
    height: 150px;
    background-color:var(--verdeOscuro);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

img { 
    width:100px;
    height:100px ;
    float:left ;
    

}  

.ingreso li {
    text-decoration:none ;
}

.far{
    color:white;
    display:flex ;
    height:10px;
    width:10px;
    position: relative;
    left:50%; 
    top:20px ;
    
}

.fas{
    color:white;
    height:10px;
    width:10px;
}

*/