

*{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
}



:root {
    --verdeOscuro: #053742;
    --celesteOscuro: #39A2DB;
    --celesteClaro: #A2DBFA;
    --grisClaro: #E8F0F2;
    --grisOscuro: ##5e5e5e;
   --blanco: #ffffff;

}





.body-index{
    font-family:'roboto',sans-serif ;
    background: url(/images/background.jpg) fixed;
    background-size:cover;

}

.nav-index{
    background-color:rgba(5,55,66,0.8) ;
    padding:20px ;
    width:100% ;
    opacity:0.8 ;
 
}

/* diseno logo y sign up and in gk*/
.nav-logo-ingreso-index{

    display:flex ;
    list-style:none ;
  justify-content: flex-end;
}

 
header{
   height:200px ;
}




 .ingreso-index{
    top:20px ;
    right:10px ;
    list-style: none;
    display:flex;
}



.signin-index{
    text-decoration:none ;
    color: white;
    font-size:15px ;
    font-weight: bold;
    width:auto;
    height: auto;
    margin:20px;
    display:flex;
    
    
}

 
.signup-index{
    text-decoration:none ;
    color: white;
    font-size:15px ;
    font-weight: bold;
    width:auto;
    height: auto;
    margin:20px;
    display:flex;
    
}
    
   

.logo-index{
    height:200px ;
    width:200px ;
   
}


/*diseno search y menu */

.menu-index li a {

    text-decoration:none ;
    color:white;
    font-weight:bold ;

    
}


.menu-index{
    list-style:none ;
    display:flex ;
    padding:20px;
     width:100%;
     justify-content: center;
}

.item-index{
    margin:0 5px;
    font-size:20px;
    
    
}

.search-menu-index{

    display:flex;
    justify-content:space-around;
    align-items: center;
    
    }

    .search-box-index{
        display: flex;

    }

  
.menu-index li a:hover{

    color:var(--grisClaro);
}



/*diseno main*/

.main-index{

}

.section1-index{

    background-size:inherit;
    background:url(/images/section1-index.jpg);
    width:98% ;
    height:400px ;
    margin:auto ;
    padding: 0;

}

.section-left-index{
    padding:10%;
    

}


.call-index{
    font-size:15px;
    font-weight:bold ;
    text-transform: uppercase;

    
}

.section2-index{
    background-size:contain;
    background:url(/images/section2-index.jpg);
    width:98% ;
    height:400px ;
    margin:auto ;

}





/* Codigo anterior
.search-box{
    position: absolute;
    top: 20px;;
    left:85%;
    transform: translate(-50%,-50%);
}

.menu-index{
   
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    width: 100%;
    }
    
.menu li a{
    font-weight:bold;
    text-decoration:none;
    color:white;
    margin: 0 ;
    padding:20px;
    display:block;
        
     }
    

header{
    height: 150px;
    background-color:var(--verdeOscuro);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

img { 
    width:100px;
    height:100px ;
    float:left ;
    

}  


.far{
    color:white;
    display:flex ;
    height:10px;
    width:10px;
    position: relative;
    left:50%; 
    top:20px ;
    
}

.fas{
    color:white;
    height:10px;
    width:10px;
}

*/