

*{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    min-width:3%;
    
}



:root {
    --verdeOscuro: #053742;
    --celesteOscuro: #39A2DB;
    --celesteClaro: #A2DBFA;
    --grisClaro: #E8F0F2;
    --grisOscuro: #5e5e5e;
   --blanco: #ffffff;

}


.body-index{
    font-family:'roboto',sans-serif ;
    min-width:290px;
    
}

.nav-index{
    background-color:rgba(82, 176, 197, 0.95) ;
    
 }

/* diseno logo y sign up and in gk*/
.nav-ingreso-index{

    display:flex ;
    list-style:none ;
  justify-content: space-between;
}

 
.header-index{
    width:100%;
    
   
 }
   

 .ingreso-index{
   
    display:flex;
    margin:auto;
}



.signin-index{
    text-decoration:none ;
    color: white;
    font-size:15px ;
    font-weight: bold;
    margin:20px;
    display:flex;
    
    
}

 
.signup-index{
    text-decoration:none ;
    color: white;
    font-size:15px ;
    font-weight: bold;
    margin:20px;
    display:flex;
    
}
    
   
.logo-index{
    height:40px;
    margin:20px  5px;

    
}


/*diseno search y menu */

.menu-index li a {  

    text-decoration:none ;
    color:white;
    font-weight:bold ;

}


.menu-index{
    
    display:none ;
   
}
.item-index{
    margin:0 5px;
    font-size:16px;
    
    
}

.search-menu-index{

    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    padding: 0 3px ;

    
    }


.far,.fas,.fa{
    margin:3px;
    align-items: flex-end;
    display:flex ;
    
    }

    .search-box-index{
        display: flex;
        margin:10 ;
    }

  
.menu-index li a:hover{

    color:var(--grisClaro);
}



/*diseno main*/

.main-index{

}

.titulo1-index{
    font-size: 4vw;
    padding-top:440px;
    padding-left:40px;
    
}

.titulo2-index{
    
    font-size: 7vw;
    padding-top:440px;
    padding-left:40px;
    color:white;
    
}


.section1-index{
   
    background:url(/images/section1-movile.jpeg);
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    margin:10px 0;

}



.section2-index {
    
    background:url(/images/section2-movile.jpeg);
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    margin:10px 0;

}


.section-left-index{
    padding:10%;
    

}


.call-index{
    font-size:12px;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:40px;
    background-color:var(--grisOscuro);
    border-radius:50px;
    
    
}
.call-index a:visited {
    color: black;
}




/* --- FOOTER DEL INDEX ---- */
.footer-index {
    background-color: black;
    color:white;
    display:flex;
    width: 100%;
    justify-content:center;
    font-size: 15px;
    flex-wrap:wrap;
    margin:auto;
    flex-direction:column;
    padding-left:30px;
    padding-top:30px;
    border-top: solid 2px white;

}

.lista1-footer li {
    padding-top:6px;
}

.espacio-footer{
    height:40px;
    padding:10px;
}

.final-footer{
    margin-top:15px;
    margin-left:-5px; 
 }
 

@media (min-width:361px) { /* TABLET */

   
    .titulos-footer {
        font-size: 16px;
    }

    .footer-index {
     font-size: 14px;
}
        .menu-index{
        
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
    }



}

@media (min-width:769px) { /* DESKTOPS */
    /* reglas de estilo */
    }




 


