*{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
}



:root {
    --verdeOscuro: #053742;
    --celesteOscuro: #39A2DB;
    --celesteClaro: #A2DBFA;
    --grisClaro: #E8F0F2;
    --grisOscuro: #5e5e5e;
   --blanco: #ffffff;

}

.body-detail {

    font-family:'roboto',sans-serif ;
    background: url(/images/background.jpg) fixed;
    background-size:cover;
    

    
}
.titulo-detail{

   padding: 10px;

}

.section-detail {
    background-color: white;
    height: 90%;


}
.imagen-detail {
   
    width: 100%;
    background-color: var(--grisClaro);
    
}

.texto-detail {

    line-height:30px;
    margin: 10px;

}   
.addcart-detail{
    font-size:12px;
    font-weight:bold;
    text-transform: uppercase;
    margin-left:40px;
    background-color:var(--grisOscuro);
    border-radius:50px;
    padding: 7px;
    
   
} 
.addcart-detail a:visited {
    color: black;
}