:root {
    --verdeOscuro: #053742;
    --celesteOscuro: #39A2DB;
    --celesteClaro: #A2DBFA;
    --grisClaro: #E8F0F2;
    --grisOscuro: ##5e5e5e;
   --blanco: #ffffff;
}

/* === Estilos generales === */

* {
    box-sizing: border-box;
    font-weight: 300;
    margin: auto
}
.body-register {

    font-family:'roboto',sans-serif ;
    background: url(/images/background.jpg) fixed;
    background-size:cover;
    min-width: 400px;
    max-width: 1000px;
    padding: 50px;
}

main div h1 {
    text-align: center;
    color:var(--grisOscuro);
    margin: 20px 0;
}

/* ===  Caja register === */

.box-register {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 80%;
    min-height: 80%;
    padding: 20px;
    background:var(--grisClaro);
    opacity: 0.9;
    -webkit-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.61); 
box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.61);
}

/* ===  Caja register === */
h2 {
    font-weight: 500;
}
.intereses-register {
    text-align: left;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}



/* === formulario === */

.form-register {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

/* === Logo Register === */

.logo-register {
    height: 120px;
    width: 120px;
    margin: auto;
}

/* === Botones Register === */

.submit-login {
    border: 2px solid transparent;
    background: var(--celesteOscuro);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 80px;
    margin: 0 auto;
    display: inline;
}

.submit-login:hover {
    background-color: var(--celesteClaro);
  }