/* <-------------- CONFIGURACIONES GENERALES --------------> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* <-------------- VARIABLES --------------> */

:root {
  --verdeOscuro: #053742;
  --celesteOscuro: #39a2db;
  --celesteClaro: #a2dbfa;
  --grisClaro: #e8f0f2;
  --grisOscuro: #5e5e5e;
  --blanco: #ffffff;
}

/* <-------------- INDEX.HTML --------------> */
/* <-------------- INDEX.HTML --------------> */
/* <-------------- INDEX.HTML --------------> */

.body-index {
  font-family: 'roboto', sans-serif;
  min-width: 235px;
}
.navbar {
  background-color: #16414c;
}

.background-section {
  background-color: black;
  border-bottom: 2px solid #e8f0f2;
  padding-top: 4px;
}

.carousel {
  background: #91c9ea;
  background: -moz-linear-gradient(top, #91c9ea 0%, #1c6ea4 50%, #000000 100%);
  background: -webkit-linear-gradient(
    top,
    #91c9ea 0%,
    #1c6ea4 50%,
    #000000 100%
  );
  background: linear-gradient(to bottom, #91c9ea 0%, #1c6ea4 50%, #000000 100%);
}

/* <-MAIN - INDEX-> */

.titulo1-index {
  width: 80%;
  font-size: 22px;
  padding-left: 40px;
  font-weight: bold;
  padding-bottom: 5px;
}

.titulo2-index {
  font-weight: bold;
  font-size: 22px;
  padding-top: 290px;
  border: 1px;
  padding-left: 40px;
  color: white;
}

.section1-index {
  background: url(/images/section1-movile.jpeg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 3px solid #e8f0f2;
  border-bottom: 2px solid #e8f0f2;
  height: 539px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.section2-index {
  background: url(/images/section2-movile.jpeg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 5px solid #e8f0f2;
}

.call-index {
  font-size: 15px;
  margin-left: 40px;
  background-color: var(--verdeOscuro);
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  transition-property: all;
  transition-duration: 0.25s;
  border: 2px solid transparent;
}
  

.call-index a:visited {
  text-decoration: none;
}



/* <-FOOTER - INDEX-> */

.containerabout-us{
  display: flex;
  align-items:center;
  justify-content:space-around;
  height: 700px;
  
}

.containerabout-us h2{
  width:20vw;
  display: flex;
  align-items: center;
}

/*FOOTER-map*/
.map-footer{
  display: flex;
  justify-content: center;
  padding: 20px 0 ;
}

/*----Footer-help*/
.container-help {
  padding: 100px;
  align-items: center;
}
/*----- terms---*/

.caja-terms {
  padding: 60px;
  text-align: justify;
}
/*----- covid-info--*/
.caja-covidinfo {
  margin-left: 10px;
  font-size: 16px;
  width: 1500px;
  padding: 20px;
}

.caja-cdcwho {
  text-align: center;
  padding: 20px;
}

/*-- Contactus footer -*/

.body-contactus {
  background: url(/images/background.jpg) fixed;
}

.contactus-container {
  padding-top: 80px;
}

/*--FooterHelp--*/

.help-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}
.helpcontainer {
  min-height: 500px;
}

.contactus-container {
  min-width: 460px;
}

.tarjeta-centrada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

/*----- shippinginfo---*/
.caja-shippinginfo {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  display: block;
  max-width: 750px;
  padding-top: 15px;
}

/*----- privicy---*/
.caja-privacy {
  font-size: 15px;
  height: 600px;
  text-align: justify;
  margin: 50px 50px;
  vertical-align: middle;
}


section a {
  margin: 5px;
}

section a i {
  font-size: 30px;
}

.bg-footer {
  background-color: #000000;
}

.text-white {
  text-decoration: none;
}

/* <-------------- LOGIN.HTML --------------> */
/* <-------------- LOGIN.HTML --------------> */
/* <-------------- LOGIN.HTML --------------> */

.body-login {
  font-family: 'roboto', sans-serif;
  background: url(/images/background.jpg) fixed;
  background-size: cover;
  min-width: 300px;
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

.text-login {
  text-align: center;
  color: var(--grisOscuro);
  margin: 20px 0;
  font-size: 25px;
  }

  .input-login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }


.input-login input {
  width: 70%;
  margin-left: 10px;

}


.input-login i {
 font-size: 20px;

}


.form-check-input{
  margin-bottom: 30px;
}

/* <-CAJA - LOGIN-> */

.box-login {
  width: 98%;
  min-width: 310px;
  padding: 10px;
  background: var(--grisClaro);
  opacity: 0.98;
  box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.61);
}

/* <-FORMULARIO - LOGIN> */

.form-login {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  width: 98%;
  transition: border 0.5s;
}

/* <-LOGO - LOGIN-> */

.logo-login {
  /* height: 180px; */
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/*<-PREGUNTAS DE PASSWORD Y SI TIENE UNA CUENTA->*/

.pregunta-login {
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
  line-height: 20px;
  color: black;
  font-family: 'roboto', sans-serif;
}

.pregunta-login:hover {
  color: var(--celesteOscuro);
}

/* <-BOTON - LOGIN-> */

.submit-login {
  border: 2px solid transparent;
  background: var(--celesteClaro);
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 200px;
  margin: 0 auto;
}

.submit-login:hover {
  background-color: var(--celesteClaro);
}

/* <-------------- PRODUCTS.HTML --------------> */
/* <-------------- PRODUCTS .HTML --------------> */
/* <-------------- PRODUCTS .HTML --------------> */

.card-title a {
  text-decoration: none;
}

h5.card-title {
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #95a1a3;
}

.sinestiloA {
  text-decoration: none;
  color: black;
}

.sinestiloA:hover {
  text-decoration: none;
  color: var(--verdeOscuro);
}

.card-body {
  background-color: rgb(233, 233, 233);
}

.btn-catalog {
  padding:10px;
  color: rgb(255, 255, 255);
  background-color: var(--celesteOscuro);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 6px 0px rgba(219, 219, 219, 0.85);
  display: flex;
  align-items: center;

}

.btn-catalog:hover {
  background-color: var(--celesteClaro);
  color: rgb(255, 255, 255);
}

.ttl-catalog {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content:center
}

.contenedor-imagen {
  min-height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-imagen img {

  object-fit: contain;
}



/* <-------------- PRODUCT CART.HTML --------------> */
/* <-------------- PRODUCT CART.HTML --------------> */
/* <-------------- PRODUCT CART.HTML --------------> */

.cart-page {
  margin: 80px auto;
}

.table-cart{
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info p{
/*   display: none; */
margin-bottom:0px;
}
.th-cart {
  text-align: left;
  padding: 5px;
  color: var(--grisOscuro);
  background: var(--grisClaro)
}

.td-cart {
  padding: 10px 5px;
}

.qty-cart {
  width: 40px;
  height: 30px;
  padding: 5px;
background: var(--grisClaro)
}

.remove-cart {
  color: rgb(255, 59, 52);
  font-size: 16px;
}

.img-cart {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 300px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.push{
  margin-left: 25px;
}

.submit-cart {
  border: 2px solid transparent;
  background: #16414c;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 3px;
  text-decoration: none;
 margin-top: 20px;
}

.submit-cart:hover {
  color:rgb(204, 202, 202);
}

.boton-carrito {
  display:flex;
  justify-content: flex-end;
}

/* <-------------- PRODUCT DETAIL.HTML --------------> */
/* <-------------- PRODUCT DETAIL.HTML --------------> */
/* <-------------- PRODUCT DETAIL.HTML --------------> */
.body-detail {
  font-family: 'roboto', sans-serif;
  background: url(/images/background.jpg) fixed;
  background-size: cover;
  min-width: 300px;
  width: 100%;
  padding: 2px;
  margin: 0 auto;
}

.container-detail {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 720px;
}

.description-detail {
  padding: 20px 90px 70px 90px;
}

.description-detail p {
  min-width: 300px;
  max-width: 600px;
}

.imagen-detail {
  width: 100%;
  max-width: 600px;
}

.submit-detail {
  border: 2px solid transparent;
  background: var(--verdeOscuro);
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 3px;
  text-decoration: none;
}

.submit-detail:hover {
  color:rgb(204, 202, 202);
}

/* <-------------- REGISTER.HTML --------------> */
/* <-------------- REGISTER.HTML --------------> */
/* <-------------- REGISTER.HTML --------------> */

.body-register {
  font-family: 'roboto', sans-serif;
  background: url(/images/background.jpg) fixed;
  background-size: cover;
  min-width: 400px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

main div h1 {
  text-align: center;
  color: var(--grisOscuro);
  margin: 20px 0;
  font-size: 25px;
}

/* <-CAJA - REGISTER-> */

.box-register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  min-width: 310px;
  padding: 10px;
  background: var(--grisClaro);
  opacity: 0.98;
  box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.61);
}

.spacing {
  margin-bottom: 15px;
}



/* <-FORMULARIO - REGISTER-> */

.form-register {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0;
  transition: border 0.5s;
}

/* <-LOGO - REGISTER-> */

.logo-register {
  width: 200px;
  display: flex;
  justify-content: center;
}

/* <-BOTONES - REGISTER-> */

.submit-login {
  border: 2px solid transparent;
  background:var(--celesteOscuro);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 80px;
  margin: 0 auto;
  display: inline;
}

.submit-login:hover {
  background-color: var(--celesteClaro);
}

.link-register {
  text-decoration: none;
}

/* <-------------- TERMS.HTML --------------> */
/* <-------------- TERMS.HTML --------------> */
/* <-------------- TERMS.HTML --------------> */

.body-terms {
  font-family: "roboto", sans-serif;
  background: var(--grisClaro);
}


/* <-------------- MEDIA QUERIES --------------> */
/* <-------------- MEDIA QUERIES --------------> */
/* <-------------- MEDIA QUERIES --------------> */

@media (min-width: 768px) {
  /* TABLET */
  .body-index {
    width: 95%;
    margin: 10px auto;
  }

  .titulos-footer {
    font-size: 16px;
  }

  .footer-index {
    font-size: 14px;
  }

  .menu-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section1-index {
    background: url(/images/section1-index.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .section2-index {
    background: url(/images/section2-index.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .titulo2-index {
    color: black;
  }

  .corazon,
  .carrito {
    margin-left: 10px;
  }

  .cart-info p{
    display: block;
    margin-bottom: 0px;
  }
  .container-detail {
    flex-direction: row;
  }

  .description-detail {
    padding: 70px 90px;
  }

}


/*====== Formulario Create ======*/

.fondo-form {
  background-color: var(--grisClaro);
  margin: 10px auto;
}

.form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

/*====== PROFILE ======*/

.profile-picture {
  border: 10px solid white;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*====== LOADER ======*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
  text-align: center;
}

/*====== Boton ======*/

.button {
  padding: 10px 70px;
  color: rgb(255, 255, 255);
  background-color: var(--celesteOscuro);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 6px 0px rgba(219, 219, 219, 0.85);
}

.button:hover {
  background-color: var(--celesteClaro);
  color: rgb(255, 255, 255);
}


/* Errores Frontend */

.show {
    display: block;
    text-align: center;
    font-weight: bold;
}

.msg-errors{
    color: red;
    font-size: 10px;
    font-style: italic;
}

.hidden {
    display: none;
}
