<!DOCTYPE html>
<html lang="en">

 <%- include('../partials/head', {title: "About Us" }) %>   
<body>
      <!-- NAVBAR -->
  <%- include('../partials/header') %>

    <div class="container fondo-form  containerabout-us ">
        <div class="row">
            <div class="col-lg-4 px-5">
              <img class="rounded-circle" src="/images/avatars/gabo.jpeg" alt="Generic placeholder image" width="200" height="200">
              <h2 >Gabriel Kohen</h2>
              <p><a class="btn btn-secondary" href="https://github.com/gabikohen" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-5">
              <img class="rounded-circle" src="/images/avatars/gabriel.jpeg" alt="Generic placeholder image" width="200" height="200">
              <h2>Gabriel Figueroa</h2>
              <p><a class="btn btn-secondary" href="https://github.com/gabrielfigue" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 px-5">
              <img class="rounded-circle" src="/images/avatars/jose.jpg" alt="Generic placeholder image" width="200" height="200">
              <h2>Jose Miranda</h2>
              
              <p><a class="btn btn-secondary" href="https://github.com/josemiranda989" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>