<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Formulario de contacto" }) %>
  <body class="body-contactus fondo-form">
    <div class="container contactus-container">
      <div class="rox">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <div>
                <a href="/"
                  ><img
                    class="logo-register"
                    src="../images/logo-b.png"
                    alt="LogoSportShoes"
                /></a>
              </div>
              <div style="text-align: center; padding-top: 5px; /*ta-c*/">
                <h5>Contact Us</h5>
              </div>

              <form
                action="https://formsubmit.co/josemiranda989@gmail.com"
                method="post"
                tabindex="1"
              >
                <input type="hidden" name="_template" value="table" />
                <div class="form-group">
                  <input
                    type="text"
                    name="Full_name"
                    class="form-control"
                    placeholder="Fullname"
                    autofocus
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="Email"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="Phone"
                    class="form-control"
                    placeholder="Phone"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    name="Message"
                    rows="10"
                    class="form-control"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    style="padding: 5px 50px; margin-top: 10px"
                    class="button"
                    type="submit"
                  >
                    Send
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
