<!DOCTYPE html>
<html >
  <%- include('../partials/head', {title: "Covid info "}) %>
  <body class="body-covidinfo ">
    <%- include('../partials/header') %>
    <div class="caja-covidinfo">
      <h2 class="text-covid" style="font-weight: bold;" >COVID-19 Information</h2>
      <br/>
      <p>
        Looking forward to seeing you in our stores Sport Shoes. stores in North
        America have begun reopening on a rolling basis as local government and
        health officials lift their 'stay at home' orders. Our number one
        priority continues to be the safety of our team members and our
        customers. Our stores may have a different feel to them but it’s all to
        provide you with a safe shopping experience. Our team will flex to fit
        your needs in this new environment as we want you to be comfortable when
        returning to our store.
      </p>
      <ul class="article-covidinfo">
        <section class="sectionn-covidinfo">
        <br/>
        <b style ="font-weight:bold">For your safety</b>
        <br>
        <li class="article-list-item covidinfo">
          In states where masks are required, we are also requiring our guests to wear a mask
        </li>
        <li class="article-list-item covidinfo">
          Team members will be wearing masks when assisting you
        </li>
        <li class="article-list-item covidinfo">
          Team members will maintain social distancing while directing you to product
        </li>
        <li class="article-list-item covidinfo">
          Team Members will encourage you to sanitize your hands and use complimentary footlets when trying on footwear
        </li>
        <li class="article-list-item covidinfo">
          E-receipts will be available to limit contact 
        </li>
      </ul>
    </section>
    <br>
    <h2 style="font-weight:bold;">Orders, returns, and exchanges</h2>
    <p>
      We're taking every step to process orders, returns and exchanges as quickly as possible, but we want to protect all team members working in our distribution centers and facilities during this time. Our shipping partners are also taking steps to protect their employees.
      They are working extremely hard to minimize delays, but this has led to longer shipping, processing and delivery times.
      While there will be shipping delays, we are doing our best to get you your order as soon as we can. When calling our customer service please note that we are experiencing unprecedented volume and you should expect longer wait and response time when contacting us by phone, email or chat.  
      To obtain the status on your recent order, please visit the "Order Status" page.
      We ask that you please wait for your shipping notification before contacting us via phone, email or chat for the status of your order.  We are working hard to process all orders in a timely manner and cancellations cannot be guaranteed.
      For reliable and timely COVID-19 information, we recommend visiting these websites:
     </p>
    </div>
 <br> 
 <div class="caja-cdcwho">
 <span > <a href= "https://www.cdc.gov/"> Center for Disease Control and Prevention (CDC)</a></span>
 <span  style="margin-left: 30px;" > <a href= "https://www.who.int/"> World Health Organization (WHO)</a></span>
 </div>
  <%- include('../partials/footer') %>
 
  <!-- SCRIPTS -->

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>

