<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Shippin Info "}) %>
  <body class="shippinginfo ">
    <%- include('../partials/header') %>
    <div class="caja-shippinginfo">
      <section class="sectionn-shippinginfo">
        <h2>Shipping Cost and FAQ</h2>
        <ul class="article-shippinginfo">
          <li class="article-list-item">Express Delivery Timetable</li>
          <li class="article-list-item">
            How long does it take for my order to ship out from your
            distribution center?
          </li>
          <li class="article-list-item">
            My home doesn’t have a street address. What should I do?
          </li>
          <li class="article-list-item">
            I'd like to ship my order to multiple addresses. What should I do?
          </li>
          <li class="article-list-item">
            What are your shipping and handling fees?
          </li>
          <li class="article-list-item">
            How much does 2 Business day shipping service cost?
          </li>
          <li class="article-list-item">
            How much does 3-4 Business day shipping service cost?
          </li>
          <li class="article-list-item">
            How much does 5-6 business day shipping service cost?
          </li>
        </ul>
      </section>
      <section class="sectionn-shippinginfo2">
        <h3>General Ordering and Shipping and Payment Questions</h3>
        <ul class="article-shippinginfo2">
          <li class="article-list-item">
            Why can't I ship my order outside the United States?
          </li>
          <li class="article-list-item">
            What online payment methods do you accept?
          </li>
          <li class="article-list-item">
            What methods of payment do you accept?
          </li>
        </ul>
      </section>
      <section class="sectionn-shippinginfo3">
        <h3>General Order Methods and Order Tracking</h3>
        <ul class="article-OrderingCostsandFAQ">
          <li class="article-list-item">
            Why can't I ship my order outside the United States?
          </li>
          <li class="article-list-item">
            What online payment methods do you accept?
          </li>
          <li class="article-list-item">    
            What methods of payment do you accept?
          </li>
        </ul>
      </section>
    </div>
    <%- include('../partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
