<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- title -->
  <title><%= title %></title>
  <!-- fontAwesome -->
  <script
    src="https://kit.fontawesome.com/f4b983a33e.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet" />
  <!-- Toastr -->
  <link rel="stylesheet" href="/vendor/toastr/toastr.css" />
  <!-- sweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Custom css -->
  <link rel="stylesheet" href="/css/index.css" />
</head>
