<!-- Loader -->
<h1 class='loader' style='margin-top:400px'>Wait a moment please...</h1>
<div class="loader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/loader.js"></script>
   <!-- NAVBAR -->
    <nav class="navbar border-bottom navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo-w.png" alt="logo" width="200" />
            </a>
    
            <button class="navbar-toggler btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toogle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item"><a class="nav-link" href="/products">CATALOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="/products/sale">SALE</a></li>

                    <% if (locals.isLogged) { %>
                    <li class="nav-item"><a class="nav-link" href="/user/logout">LOGOUT</a></li>
                    <li class="nav-item"> <img src="/images/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"></li>
                   
                    <li class="nav-item"><a class="nav-link" href="/user/profile"><%= locals.userLogged.userName  %></a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/user/login">SIGN IN</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/register">SIGN UP</a></li>
                    <% } %>
                </ul>
                <form class="d-flex" method="GET" action="/products/search">
                    <input class="form-control me-2" type="search" name="shoes" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    