<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "Covid info "}) %>

  <body class="" cz-shortcut-listen="true">
    <%- include('../partials/header') %>

    <div class="container fondo-form helpcontainer">
      <h2 class="text-center p-5">Categories</h2>
      <div class="row">
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/9674740cb6ff8732a25d7a89756c3f046cd9a497.svg"
            alt="Returns &amp; Exchanges"
          />
          <h6>Returns &amp; Exchanges"</h6>
        </div>
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/e66426d788672f04e55c912acbadbbceb91611e9.svg"
            alt="FLX"
          />
          <h6>FLX</h6>
        </div>
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/5baf217fe97266afdc52cb633558d2f9118ce6bf.svg"
            alt="Privacy, Terms &amp; Conditions"
          />
          <h6>"Privacy, Terms &amp; Conditions"</h6>
        </div>
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/6dd4f6b602d7aa555d29ffe41b6648d7dc5ffbc4.svg"
            alt="Releases"
          />
          <h6>"Releases"</h6>
        </div>
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/54b71864fb68832cce337c341bae75b99d257a8c.svg"
            alt="Payment Information"
          />
          <h6>"Payment Information"</h6>
        </div>
        <div class="col-sm-12 col-md-4 tarjeta-centrada">
          <img
            src="//theme.zdassets.com/theme_assets/9193528/503cc4fe774fb2f465d43796bb59d9273bcdebd8.svg"
            alt="Account"
          />
          <h6>"Account"</h6>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer', { fixed:false}) %>

    <!-- SCRIPTS -->
    <%- include('./partials/scripts') %>
  </body>
</html>
