<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title:"MAP"}) %>
  <body class="body-map">
    <%- include('../partials/header') %>
    <div class="map-footer">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.436608860388!2d-73.96780638432153!3d40.77441457932507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258a29d3847f5%3A0x564dfbba0141774a!2s5th%20Ave%2C%20New%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sar!4v1636744839139!5m2!1sen!2sar"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer', { fixed:false}) %>

    <!-- SCRIPTS -->
    <%- include('./partials/scripts') %>
  </body>
</html>
