<!DOCTYPE html>
<html>
<%- include('../partials/head', {title: "Login" }) %>

<body class="body-login">
  <!-- Loader -->
  <h1 class='loader' style='margin-top:400px'>Wait a moment please...</h1>
  <div class="loader"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/javascripts/loader.js"></script>
  <main>
    <div class="box-login">
      <a href="/"> <img class="logo-login" src="../images/logo-b.png" alt="LogoSportShoes"></a>
      <h1 class="text-login">Login</h1>
      <form class="form-login" id="formulario" action="/user/login" method="POST">
        <p class="input-login ">
          <i class="fa fa-user"></i>
          <input type="email" name="email" id="email" placeholder=" Email@sportshoes.com" />
          <!--? Validacion Front -->
        <p id="errEmail" class="msg-errors hidden"></p>
        <!--? Validacion Back -->
        <% if (locals.errors && errors.email) { %>
        <p class='text-danger'><%= errors.email.msg %></p>
        <% } %>
        </p>
        <p class="input-login">
          <i class="fa fa-lock"></i>
          <input type="password" id="password" name="password" placeholder="Your Password" />
          <!--? Validacion Front -->
        <p id="errPassword" class="msg-errors hidden"></p>
        </p>
        <input type="checkbox" class="form-check-input" name="remember_user">
        <label class="form-check-label" style="padding-left:5px ;">
          Remember me
        </label>
        <p>
          <input class="submit-login" type="submit" name="sent" value="Login">
        </p>
        <a class="pregunta-login" href="#">Lost your password ?</a><br>
        <a class="pregunta-login" href="/user/register">Don't have an account ?</a>
      </form>
    </div>
  </main>
  <script src="/javascripts/validationLogin.js"></script>
</body>

</html>